<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{TITLE}}</title>
    <style>
        body { background-color: black; color: white; }
        ul { list-style: none; }
        a { color:violet; text-decoration: none; }
        a:hover { font-weight: bold; }
        form { display: flex; flex-direction: column; }
        textarea { height: 200px; width: 500px; margin-bottom: 10px; }
        input { width: 100px;}
    </style>
</head>
<body>
    <nav>
        <ul>
            {{MENU}}
        </ul>
    </nav>
    <div class="container">
        {{CONTENT}}
    </div>
</body>
</html>